

@{
    ViewData["Title"] = "Audit Trail";
}













<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-text">
                    <h4 class="card-title">Audit Trail</h4>

                </div>
            </div>

            <div class="card-body">
              
                
         
                
                <br />
                <div class="material-datatables">
                    <table id="tbl" class="table table-striped table-no-bordered table-hover dataTable" style="width: 100%!important">

                        <thead>
                            <tr>
                                
                                <th>Date </th>
                                <th>Description</th>
                                <th>User</th>
                                <th>Action</th>
                                <th></th>
                              
                            </tr>

                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(function () {
        loadDatatable();
    })

        function loadDatatable(start,end) {

            var data = [];
          

             $.ajax({
                 url: "@Url.Action("getDataAudit", "EmployeeTemperature")"
                , method: "POST"
                , dataType: 'json'

                , success: function (responsedata) {

                    if (responsedata.status == "success") {


                        for (var i = 0; i < responsedata.data.length; i++) {

                           


                            data.push([
                                moment(
                                    new Date(
                                        responsedata.data[i].createdDate)).format("MM-DD-YYYY")

                                , responsedata.data[i].descriptions
                                , responsedata.data[i].userId
                               
                                , responsedata.data[i].action
                                , responsedata.data[i].id
                            ]);

                        }

                        if ($.fn.DataTable.isDataTable('#tbl')) {
                            $('#tbl').DataTable().destroy();
                        }

                        $('#tbl').DataTable({
                            "data": data,
                            "pagingType": "full_numbers",
                            "lengthMenu": [
                                [10, 25, 50, -1],
                                [10, 25, 50, "All"]
                            ],
                            "pageLength": 50,
                            responsive: true,
                            language: {
                                search: "_INPUT_",
                                searchPlaceholder: "Search records",
                            },

                            "columnDefs": [

                                //{ orderable: false, targets: [3,4]}
                               
                                {
                                    "targets": [1],
                                    "width": "60%"
                                },
                                {
                                    "targets": [4],
                                    "visible": false
                                }

                            ],
                            "order": [[4, "desc"]]
                        });


                    } else {
                        swal("Error!" + responsedata.message, "Please try again", "error");
                    }

                }
            });

        }
        
</script>
